<div class="container">
  <form class="form-signin" ng-submit="changePasswordFormSubmitted()">
    <h2 class="form-signin-heading">Change Password</h2>
    <label for="inputOldPassword" class="sr-only">Current Password</label>
    <input type="password" id="inputOldPassword" class="form-control old-password-input" placeholder="Current Password" ng-model="oldPassword" required autofocus>
    <div class="password-field-wrapper">
      <label for="inputPassword" class="sr-only">New Password</label>
      <input type="password" id="inputPassword" class="form-control pre-confirm" placeholder="New Password" ng-model="password" required>
      <label for="inputPasswordConfirm" class="sr-only">Confirm New Password</label>
      <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirm New Password" ng-model="passwordConfirm">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="ajaxOperationInProgress">Change password<span class="glyphicon glyphicon-refresh spinning" ng-show="ajaxOperationInProgress"></span></button>
  </form>
</div>