<div class="modal-registration-confirmed">
  <!--
  <div class="modal-header">
    
  </div>
  -->
  <div class="modal-body">
    <h1 ng-bind="modalTitle"></h1>
    <div class="modal-main-icon">
      <span class="glyphicon" ng-class="mainIconClass" aria-hidden="true"></span>
    </div>
    <p ng-bind="mainMessageText">
      
    </p>
    <form class="form-signin" ng-submit="dismissButtonClicked()">
      <button class="btn btn-lg btn-primary btn-block" type="submit" autofocus ng-bind="dismissButtonTitle"></button>
    </form>
  </div>
  <!--
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  -->
</div>