<div class="modal-registration-confirmed">
  <div class="modal-body">
    <h1>Success!</h1>
    <div class="confirmed-checkmark">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </div>
    <p>
      Your password has been changed successfully.
    </p>
    <form class="form-signin" ng-submit="goToLoginFormSubmitted()">
      <button class="btn btn-lg btn-primary btn-block" type="submit" autofocus>
        Log in
      </button>
    </form>
  </div>
</div>