<div class="container">
	<div class="user-profile">
    <div class="user-image">
      <img ng-src="{{userProfileImageUrl}}" alt="User Profile Image" ng-title="{{emailAddress}}" class="img-circle">
    </div>
    <div class="user-info-block">
      <div class="user-heading">
        <h3 ng-bind="emailAddress"></h3>
        <span class="help-block"></span>
      </div>
      <div class="user-body">
        <div class="tab-content">
          <div>
            <h4>Account Information</h4>
            
            <div class="user-info-part-wrapper">
              <span class="part-value">
                
              </span>
              <span class="part-key">
                E-mail address
                <a ng-click="$state.go('email-change')" title="Change Email Address">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </div>
            
            <div class="user-info-part-wrapper">
              <span class="part-value">
                
              </span>
              <span class="part-key">
                Password
                <a ng-click="$state.go('change-password')" title="Change Password">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>