@import (less) "../node_modules/lesshat/build/lesshat.less";

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

footer {
  text-align: center;
}

.new-chat-room-button-wrapper {
  text-align: center;
}

.jumbotron .container h1 {
  text-align: center;
  margin-bottom: 1em;
}