@import (less) "../node_modules/lesshat/build/lesshat.less";

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

footer {
  text-align: center;
}

.new-chat-room-button-wrapper {
  text-align: center;
}

.jumbotron .container h1 {
  text-align: center;
  margin-bottom: 1em;
}

.webchat-event .author {
  font-weight: bold;
}

.webchat-event .unsent {
  font-style: italic;
}

.webchat-event .send-failure {
  text-decoration: line-through;
}

.message-send-form-wrapper-row {
  margin-top: 15px;
}

.webchat-room-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}