<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="well">
        <div class="starter-template">
          <h1>Contact</h1>
          <p class="lead">A page for you to put some contact information on.</p>
        </div>
      </div>
      <p>
        <a class="btn btn-default" href="#/contact/list">Show Nested View Example</a>
        <a class="btn btn-default" href="#/contact">Hide Nested View Example</a>
      </p>
      <div class="ui-view-container">
        <div ui-view>
          <!-- default content can go here but there will be a flicker on some pages loading -->
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
