<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 ng-bind="title"></h1>
        <div class="new-chat-room-button-wrapper">
          <a class="btn btn-primary btn-lg" href="#" role="button">New Chat Room</a>
        </div>
        <p></p>
      </div>
    </div>

    <div class="container">

      <footer>
        <p>&copy; 2016 Benn Linger. <a href="https://github.com/moduspwnens/aws-serverless-web-chat">View source on GitHub</a>.</p>
      </footer>
    </div> <!-- /container -->

