<div class="container">
  <form class="form-signin" ng-submit="registerFormSubmitted()">
    <h2 class="form-signin-heading">Create account</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email" required autofocus>
    <div class="password-field-wrapper">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control pre-confirm" placeholder="Password" ng-model="password" required>
      <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
      <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirm Password" ng-model="passwordConfirm">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="ajaxOperationInProgress">Create account<span class="glyphicon glyphicon-refresh spinning" ng-show="ajaxOperationInProgress"></span></button>
  </form>
  
  <div class="form-signin form-forgot-password">
    <a class="forgot-password-link" ng-click="$state.go('forgot')">Forgot your password?</a>
  </div>
  
  <form class="form-signin" ng-submit="$state.go('login')">
    <button class="btn btn-lg btn-default btn-block" type="submit" ng-disabled="ajaxOperationInProgress">Log in</button>
  </form>
</div>